	<footer class="footer bg-primary text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy; {{ site.time | date: '%Y' }} Hoàng Đăng Trung</p>
					{% include social.html %}
				</div>
			</div>
		</div>
	</footer>
	<script src="{{ site.url | append:site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.url | append:site.baseurl }}/js/bootstrap.min.js"></script>
	<script src="{{ site.url | append:site.baseurl }}/js/header.js"></script>
    <script>
        $('#live-video').click(function (event) {
            FB.ui({
                display: 'popup',
                method: 'live_broadcast',
                phase: 'create',
            }, function (resp) {
                console.log(resp);
                FB.ui({
                    display: 'popup',
                    method: 'live_broadcast',
                    phase: 'publish',
                    broadcast_data: resp,
                }, function (resp) {
                    console.log(resp);
                });
            });
            event.preventDefault();
        });
    </script>
</body>
</html>