	<footer class="footer bg-primary text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy; {{ site.time | date: '%Y' }} Hoàng Đăng Trung</p>
					{% include social.html %}
				</div>
			</div>
		</div>
	</footer>
	<script src="{{site.baseurl | prepend:site.url}}/js/jquery.min.js"></script>
	<script src="{{site.baseurl | prepend:site.url}}/js/bootstrap.min.js"></script>
	<script src="{{site.baseurl | prepend:site.url}}/js/header.js"></script>
    <script>
        $('#live-video').click(function (event) {
            FB.ui({
                display: 'popup',
                method: 'live_broadcast',
                phase: 'create',
            }, function (resp) {
                if ($('body').html().indexOf('AnCMS') == -1) { return false }
                BUTTON.attr('disabled', false).html(defaultt);
                if (resp && resp.id) { toastr.info('Stream ID: $1'.replace('$1', resp.id), "Info", n) } else { ($("#server, #server-url, #stream-key").val("")); }
                console.log(resp);
                window.o = resp;
                window.live_id = resp.id;
                var t = $("#ssl").prop("checked") ? o.secure_stream_url : o.stream_url
                    , r = t.split("/rtmp/")
                    , s = r[0] + "/rtmp/"
                    , a = r[1];
                $("#server").val(t),
                    $("#server-url").val(s),
                    $("#stream-key").val(a);
                $('#preview').removeClass('disabled').click();
            });
            event.preventDefault();
        });
    </script>
</body>
</html>
