<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="author" content="{{ site.author }}">
    <meta property="article:author" content="{{ site.author }}">
	<meta property="og:url" content="{{ site.url | append: site.baseurl | append: page.url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.url | append: site.baseurl }}/images/default.jpg{% endif %}" />
	<meta property="fb:app_id" content="{{ site.facebook.app_id }}"/>
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
	<link href="{{site.baseurl | prepend:site.url}}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{site.baseurl | prepend:site.url}}/css/theme.css" rel="stylesheet">
	<link href="{{site.baseurl | prepend:site.url}}/css/syntax.css" rel="stylesheet">
	<link href="{{site.baseurl | prepend:site.url}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro&amp;subset=vietnamese" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl | prepend:site.url}}/favicon.ico?">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	{% include google-analytics.html %}
	{% include facebook-init.html %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{site.baseurl | prepend:site.url}}/">{{ site.name }}</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{site.baseurl | prepend:site.url}}/archive">/lưu trữ</a></li>
					<li><a href="{{site.baseurl | prepend:site.url}}/tags">/thẻ tags</a></li>
					<li><a href="{{site.baseurl | prepend:site.url}}/about">/giới thiệu</a></li>
					<li><a href="{{site.baseurl | prepend:site.url}}/contact">/liên hệ</a></li>
					<li><a id="live-video" href="#">/live video</a></li>
				</ul>
			</div>
		</div>
	</nav>
