<html lang="en">
<head>
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="{{ site.url | append: site.baseurl | append: page.url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.url | append: site.baseurl }}/images/default.jpg{% endif %}" />
	<meta property="fb:app_id" content="{{ site.facebook.app_id }}"/>
	<script src="{{site.baseurl | prepend:site.url}}/js/jquery.min.js"></script>
	<script src="{{site.baseurl | prepend:site.url}}/js/bootstrap.min.js"></script>
	<script src="{{site.baseurl | prepend:site.url}}/js/header.js"></script>
	<link href="{{site.baseurl | prepend:site.url}}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{site.baseurl | prepend:site.url}}/css/theme.css" rel="stylesheet">
	<link href="{{site.baseurl | prepend:site.url}}/css/syntax.css" rel="stylesheet">
	<link href="{{site.baseurl | prepend:site.url}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro&amp;subset=vietnamese" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl | prepend:site.url}}/favicon.ico?">
</head>
<body>
	{% include google-analytics.html %}
	{% include facebook-init.html %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{site.baseurl | prepend:site.url}}/">{{ site.name }}</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{site.baseurl | prepend:site.url}}/">/trang chủ</a></li>
					<li><a href="{{site.baseurl | prepend:site.url}}/archive.html">/lưu trữ</a></li>
					<li><a href="{{site.baseurl | prepend:site.url}}/tags.html">/thẻ tags</a></li>
					<li><a href="{{site.baseurl | prepend:site.url}}/about.html">/giới thiệu</a></li>
				</ul>
			</div>
		</div>
	</nav>