<h6>Theo dõi tôi trên:</h6>
<ul class="social-media">
	{% if site.social.github %}
		<li>
			<a title="Github" href="https://github.com/{{ site.social.github }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
		</li>
	{% endif %}
	{% if site.social.facebook %}
		<li>
			<a title="Facebook" href="https://facebook.com/{{ site.social.facebook }}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
		</li>
	{% endif %}
	{% if site.social.linkedin %}
		<li>
			<a title="LinkedIn" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
		</li>
	{% endif %}
	{% if site.social.instagram %}
		<li>
			<a title="Instagram" href="https://instagram.com/{{ site.social.instagram }}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
		</li>
	{% endif %}
	{% if site.social.lastfm %}
		<li>
			<a title="Last.fm" href="http://lastfm.com/user/{{ site.social.lastfm }}" target="_blank"><i class="fa fa-lastfm fa-2x"></i></a>
		</li>
	{% endif %}
	{% if site.social.rss %}
		<li>
			<a title="RSS" href="{{ site.url | append:site.baseurl }}/{{ site.social.rss }}" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
		</li>
	{% endif %}
</ul>