---
layout: page
---
<div class="page-content wc-container">
	<div class="post">
		<h2>Thẻ tags: {{ page.tag }}</h2>
		<ul class="sideBarPosts">
			{% for post in site.posts %}
				{% for tag in post.tags %}
					{% if tag == page.tag %}
						<li class="archive_list">
							<time>{{ post.date | date: "%d-%m-%Y" }}</time>
							<a href='{{post.url | prepend:site.baseurl | prepend:site.url}}'>{{post.title}}</a>
							<p>{{post.description}}</p>
						</li>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
</div>